[core]
	editor = \"C:\\Users\\markus.ammann\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Markus Ammann
	email = markus.ammann@avanade.com
[alias]
  ec = config --global -e
  up = !git fetch --all --prune --tags && git pull --rebase --prune $@ && git submodule update --init --recursive
  save = !git add -A && git commit -m 'SAVEPOINT'
  undo = reset HEAD~1 --mixed
  cp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  amend = !git add -A && git commit --amend
  s = status -sb
  hist = log --branches --decorate --oneline --graph -10
  changed = show --name-only
  co = checkout
  cob = checkout -b
  unstage = '!git stash show $1 -p | git apply --reverse'
  wipe = !git reset --hard && git clean -f -d -x
  housekeeping = !git reflog expire --all --expire=now && git gc --prune=now --aggressive
